[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".config/i3blocks"]
	path = .config/i3blocks
	url = git@github.com:Royalsspirit/i3blocks-contrib.git
