[user]
	email = goran.majkic1@gmail.com
	name = Royalsspirit

[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches

[core]
	editor = nvim
[push]
	autoSetupRemote = true
[diff "ansible-vault"]
	textconv = ansible-vault view
[includeIf "gitdir:~/Documents/sre/"]
	path = ~/.work.gitconfig
